/* RESET SETTINGS */
body {
    margin: 0
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  /* -----  HEADER ---- */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 4rem;
    width: 100vw;
  
    border: 5px solid #F0ECE3;
  
    background-color: #2D4059;
  }
  
  header>div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  img {
    height: 100%;
  }
  
  h1 {
    margin-left: 1rem;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;;
  }
  
  nav>a {
    margin-right: 10px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    border: 1px solid black;
    font-size: 16px;
  }

  /* ---- End of HEADER ---- */
  
  /* ---- Start of MAIN ---- */
  
  main {
    min-height: 80vh;
    min-width: 70vw;
    background-color: #F0ECE3;
  }
  
  aside {
    min-height: 80vh;
    min-width: 15vw;
    background-color: #EA5455;
  }
  
  body {
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }
  
  body>div {
    display: flex;
  }

  h2, h5, p {
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  /* --- END OF MAIN --- */
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100vw;
  
    border: 5px solid #F0ECE3;

    background-color: #2D4059;
  }


  /* START OF CSS FOR CONTACT ME PAGE */

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; 
    margin-top: 15px; 
    margin-bottom: 5px;
    resize: vertical 
  }

  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #F0ECE3;
    padding: 20px;
  }
